@import 'semantic-ui';

body {
  background: url(https://wallpaperplay.com/walls/full/c/d/7/193154.jpg);
};

h2 {
  font-family: fantasy;
  color: black;
  font-size: 30px;
}

h1 {
  font-family: fantasy;
  color: darkred;
  font-size: 40px;
}

h3 {
  font-family: fantasy;
  color: darkred;
  font-size: 25px;
}
input{
  border-style: solid;
  border-width: 1px;
  width: 200px;
  align-content: center;
}

button{
  border-style: solid;
  border-width: 1px;
  font-family: monospace;
}

div{
  font-family: fantasy;
  font-size: 25px;
  color:black;
}

nav{
  
}




