<h1>Click an Location To View It</h1>
<ul>
<% @locations.each do |location| %>
  <li><%= link_to 'New Location', new_trip_location_path	 %></li>
    <li><%= link_to location.name, [@trip, location] %></li>
  <% end %>
</ul>



